{% extends 'base.html' %}
{% block content %}
<header>
<h1>Справичник организация</h1>
</header>
<div class="body">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Парол</th>
            <th scope="col">Адрес</th>
        </tr>
        </thead>
        <tbody>

        {% for org in organizations %}
            <tr>
                <td>{{ org.name }}</td>
                <td>{{ org.password }}</td>
                <td>{{ org.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        var tables = document.getElementsByTagName('tbody');
        var table = tables[tables.length - 1];
        var rows = table.rows;
        for (var i = 0, td; i < rows.length; i++) {
            td = document.createElement('td');
            td.appendChild(document.createTextNode(i + 1));
            rows[i].insertBefore(td, rows[i].firstChild);
        }
    </script>
</div>
{% endblock %}