<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<header>
<h1>Список продукты</h1>
</header>
<div class="body">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Един</th>
            <th scope="col">Количество</th>
            <th scope="col">Сумма</th>
            <th scope="col">ID док</th>
        </tr>
        </thead>
        <tbody>

        {% for pro in products %}
            <tr>
                <td>{{ pro.name }}</td>
                <td>{{ pro.measurement }}</td>
                <td>{{ pro.quantity }}</td>
                <td>{{ pro.sum }}</td>
                <td>{{ pro.document.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        var tables = document.getElementsByTagName('tbody');
        var table = tables[tables.length - 1];
        var rows = table.rows;
        for (var i = 0, td; i < rows.length; i++) {
            td = document.createElement('td');
            td.appendChild(document.createTextNode(i + 1));
            rows[i].insertBefore(td, rows[i].firstChild);
        }
    </script>
</div>
</body>
</html>