{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
{#<ul class="nav nav-tabs">#}
{#    <li onclick="this.className='active'" class="active"><a href="{% url 'org_list' %}">Organizations</a></li>#}
{#    <li onclick="this.className='active'"><a href="#news">Documents</a></li>#}
{#    <li onclick="this.className='active'"><a href="#contact">Product</a></li>#}
{#</ul>#}
<div class="menu-list">
    <a href="{% url 'org_list' %}">Organization</a>
    <a href="{% url 'doc_list' %}">Documents</a>
    <a href="{% url 'pro_list' %}">Product</a>
</div>
<div>
    {% block content %}
    {% endblock %}
</div>
<script>
    var a = document.querySelectorAll(".nav li a");
    for (var i = 0, length = a.length; i < length; i++) {
        a[i].onclick = function () {
            var b = document.querySelector(".nav li.active");
            if (b) b.classList.remove("active");
            this.parentNode.classList.add('active');
        };
    }
</script>
</body>
</html>
